  /* ==================== HOME PAGE STYLE ===================== */
  
  #full-name{
    font-size: 2.1em;
    font-weight: 500;
}




.name-and-bio {
    display: flex;
}

.job-date{
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.name-and-job-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.job-title {
    font-weight: 800;
    font-size: 1.1em;
    margin-bottom: 5px;
    background-color: rgba(156, 81, 236, 0.408);
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}

#job-title-intro {
    font-weight: 300;
    margin-bottom: 10px;
}

.paragraph-style{
    margin-bottom: 20px;
}

.prof-pic{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid white;
    margin-bottom: 10px;
}


.social-links {
    color: beige;
    font-size: 1.8em;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out; /* Adding transition for smooth animation */
}

.social-links:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.1); /* Grow slightly larger on hover */
}

#about-info {
    font-weight: 300;
    line-height: 1.5em;
}

.professional-experience-desc{
    font-weight: 300;
    line-height: 1.5em;
}

.about-text {
    margin: 20px 0px 20px 0px;
}

.section-titles {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    background-color: #5100a7a2;
    text-align: center;

}

h4 {
    font-weight: 500;
    font-family: Inter, Helvetica, sans-serif;
    margin-bottom: 15px;
}

#project-description {
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to next line if content overflows */
    justify-content: flex-start; /* Align items from start */
}

.skills {
    display: inline-block; /* Make each skill item inline-block */
    margin-right: 10px; /* Add some space between skills */
    background-color: #5100a7a2;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 0.76em;
}

.arrow-animation {
    color: #6d00e2;
    margin-right: 10px;
}





.project-image {
    width: 100%;
    margin: 15px 0px;
    transition: transform 0.3s ease; /* Smooth transition effect */
}

.project-image:hover {
    transform: scale(1.02); /* Slightly grow the image */
}

.icons a {
    transition: transform 0.3s ease;
  }
  
  .icons a:hover {
    transform: scale(1.2);
  }


.project-title {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: beige; /* or inherit if you prefer to use a different color */
    font-size: 1.7rem;
}

.title-container{
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}


.icons {
    display: flex;
    font-size: 1.2em;
}

.icons a{
    margin-left: 10px;
    color: #b168ffd9;

}

.project-title h3 {
    font-weight: 600;
}

.project-card {
    margin-bottom: 30px;
}


@media (min-width: 1024px) {
    .intro-section{
        display: flex;
    }

    .name-section{
        flex: 1;
    }

    .about-text{
        flex: 2;
        margin-left: 40px;
        margin-top: 0px;
    }

}

@media (min-width: 1440px) {
    .about-text {
        margin-left: 30px;
    }



    #job-title-intro {
        margin: 10px 0px 10px 0px;
    }

    /* test */
}




